* {
    background-color: #dddddd;
}

.navbar {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

.navbar h1 {
    text-align: left;
}

.navbar button {
    
}

.content {

}

.footer {

}